<h1>Users::Profile#show</h1>
<p>Find me in app/views/users/profile/show.html.erb</p>
<%= link_to "Regresar a tus pautas", users_timeline_path %>

<p><%= @profile.photo %></p>
<p><%= @profile.phone %></p>
<p><%= @profile.description %></p>
