
<div class="container ">

  <div class="jumbotron">
    <div class="row">
      <div class="col-8">
        <h2 class="text-uppercase" style="color: grey"><strong>¿Eres un comunicador?</strong></h2>
        <p class="lead">| <i class="fas fa-microphone"></i> | En YoLoCubro.com encuentra cientos de pautas noticiosas </p>
        <hr class="my-4">
        <p><mark>Si trabajas en un medio de comunicación o blog, eres un periodista freelance o un influencer</mark>,  ingresa a YoLoCubro y postula a cientos de pautas o accede a los comunicados de prensa que publican las empresas. Así podrás acceder a contenido para tu medio o red social.</p>
        <span><%=link_to "Ingresar", new_user_session_path, class: "card-text btn btn-success btn-sm"%></span>
        <span><%=link_to "¿Nuevo?, Regístrate", new_user_registration_path, class: "card-text btn btn-dark btn-sm"%></span>
      </div>
      <div class="col-4 jumbotron2">

      </div>
    </div>
  </div>
<hr>
  <div class="jumbotron">
    <div class="row">

      <div class="col-4 jumbotron3">
      </div>
      <div class="col-8">
        <h2 class="text-uppercase" style="color: grey"><strong>¿Eres una Organización?</strong></h2>
        <p class="lead">| <i class="fas fa-sitemap"></i> | En YoLoCubro.com encuentra difusión para tus actividades o noticias </p>
        <hr class="my-4">

        <p><mark>Si eres una empresa, fundaciónm agruación y ONG </mark>y buscar difundir un mensaje, en YoLoCubro posrás crear una pauta de prensa para que cientos de comunicadores puedan postular y asistir a ella. También podrás crear un comunicado de prensa y enviarlo a cientos de comunicadores</p>
        <span><%=link_to "Ingresar", new_organizator_session_path, class: "card-text btn btn-success btn-sm"%></span>
        <span><%=link_to "¿Nuevo?, Regístrate", new_organizator_registration_path, class: "card-text btn btn-dark btn-sm"%></span>
      </div>
    </div>
  </div>

</div>
