tr{
  border: 1px solid black;
  border-width: 3px;
}

td{
    border: 1px solid black;
}

td,th{
  text-align: left;
  padding: 5px;

}

th{
  background-color: grey;
  color: white;
}

table, tr, td, tbody, thead, tfoot{
  page-break-inside: avoid!important;
}
