body {
  font-size: 14px;
}



.form_layout {
  width: 50%;
  margin: auto;
}

/* .tableSize {
  font-size: 14px;

} */

.sombra_box {
  box-shadow: 2px 2px 5px #999;
}

thead {
  color: white;
}

th.celda {
  width: 25%;
}

.avatar {
  border-radius: 5%;
}

.trix-content {
		height: 150px !important;
		max-height: 150px !important;
	  overflow-y: auto !important;
	}

  .navbar {
   min-height: 80px;
 }

 .btn-width {
   min-width: 115px;
   border-color: #cccccc;
 }

 i.fa-trash-alt {
   color: red;
 }
 i.fa-edit {
   color: green;
 }
 i.fa-eye {
   color: gray;
 }


 /*  Pagination styles*/

 .pagination > li > a
 {
     background-color: white;
     color: #343a40;
 }

 .pagination > li > a:focus,
 .pagination > li > a:hover,
 .pagination > li > span:focus,
 .pagination > li > span:hover
 {
     color: #343a40;
     background-color: #eee;
     border-color: #ddd;
 }

 .pagination > .active > a
 {
     color: white;
     background-color: #6c757d !Important;
     border: solid 1px #6c757d !Important;
 }

 .pagination > .active > a:hover
 {
     background-color: #6c757d !Important;
     border: solid 1px #6c757d;
 }
