<footer class="py-4 pt-md-5 border-top  bg-dark text-light">
        <div class="row">
          <div class="col-12 col-md">
            <h5 class="text-uppercase text-left 12 pl-5"><strong><mark><i class="fas fa-microphone"></i> |  YoLoCubro.com</mark> </strong></h5>
            <div class="col-12 pl-5 text-small text-muted">
                <span class="text-center">Manuel Montt 4321, Ñuñoa, Región Metropolitana</span>
            </div>

          </div>
          <div class="col-6 col-md footer">
            <h6>Uso del sitio</h6>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Términos y Condiciones</a></li>
              <li><a class="text-muted" href="#">Privacidad</a></li>


            </ul>
          </div>
          <div class="col-6 col-md footer2">
            <h6>Quienes Somos</h6>
            <ul class="list-unstyled text-small">

              <li><%= link_to "Contáctanos", new_contactme_path, class: "text-muted" %></li>
              <li><%= link_to "Equipo", home_team_path, class: "text-muted" %></li>


            </ul>
          </div>
        </div>
      </footer>
